body, h1, p, img {
margin: 0;
padding: 0;
font-family: 'Libre Baskerville', serif;
}


body {
background-color: black;
color: white;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}


.center {
width: 50%;
margin-left: 25%;
}


h1 {
font-size: 1.5rem;
margin-bottom: 15px;
text-transform: uppercase;
}


img {
  width: 100%;
  height: 250px; 
  object-fit: cover; 
  border: 5px solid white;
  margin-top: 15px;
}
